---

---

<div class="absolute w-screen h-screen overflow-hidden">

    <!-- Glow top-left -->
    <div class="absolute -top-60 -left-60 w-[700px] h-[700px]
    bg-[radial-gradient(circle_at_center,_rgba(249,115,22,0.5),_transparent_70%)]
    blur-3xl opacity-40">
    </div>

    <!-- Glow bottom-right -->
    <div class="absolute -bottom-60 -right-60 w-[700px] h-[700px]
    bg-[radial-gradient(circle_at_center,_rgba(249,115,22,0.5),_transparent_70%)]
    blur-3xl opacity-40">
    </div>

</div>